@media screen and (max-width: 576px) {

    .control {
        margin: 0px;
        background-image: url(../Images/Frame\ \(3\).png);
        background-repeat: no-repeat;
        background-position: right;
        align-items: center;
    }

    .title1 {
        color: #131318;
        font-size: 16px;
        font-weight: 800;


    }

    .title-color {
        color: #FF5400;
        font-size: 16px;
        font-weight: 800;
    }


    .img-icon {
        width: 28px;
    }

    .nav-title a {
        display: none;

    }



    .banner {
        margin: 0;
        width: 100%;
    }

    .banner-title {
        padding: 32px 65px 0 65px;
        font-size: 22px;
        font-weight: 800;
    }

    .banner-pera {
        font-size: 14px;
        padding: 10px 32px;
        font-weight: 400
    }

    .menu-bar {
        margin: 24px 32px
    }

    .menu-bar-text {
        width: 235px;
        margin-bottom: 15px;
    }

    #menu-bar-option {
        width: 265px;
        margin-bottom: 15px;
    }

    .menu-bar-button {
        width: 265px;
        margin-right: 20px;

    }

    .container {
        margin: 0;
        flex-direction: column;
        gap: 25px;
    }

    .heading-title {
        font-size: 20px;
    }

    .container-text {
        font-size: 14px;
    }

    .container-img {
        width: 360px;
    }



    .destination {
        margin: 0;

    }

    .destination-1 img {
        width: 100%;
        height: 100%;
    
    
    }


    .destination h2 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;

    }


    .destination-1 {
        flex-direction: column;
        display: grid;
        height: auto;
    }
    .destination-1 div img{
        height: 175px;

    }
    .text-destination div h4 {
        font-size: 20px;
        font-weight: 800;
    }

    .text-destination-1 h4 {
        top: 30%;
        right: 40%
    }
    .text-destination-2 h4 {
        top: 30%;
        right: 40%
    }
    .text-destination-3 h4 {
        top: 30%;
        right: 30%
    }
    .text-destination-4 h4 {
        top: 30%;
        right: 40%
    }
    .text-destination-5 h4 {
        top: 25%;
        right: 35%
    }

    .text-destination-6 h4 {
        top: 25%;
        right: 35%
    }


}